<% layout("/layouts/boilerplate") %>

    <body>

        <div class="outermainbox">
            <h2> <b> Welcome to Wanderlust demo project</b></h2>
            <div id="mainbox" class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" style="">
            </div>
        </div>

        <script src="/js/search.js" defer></script>

    </body>