<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h2><%= err.status %> <%= err.name %> : <%= err.message %> </h2>
    </div>
</div>