<% layout("/layouts/boilerplate") %>



<div class="row mt-3">
    <div class="col-8 offset-2">
        <h1>Log into wanderlust</h1>
        <form action="/user/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username : </label>
                <input type="text" name="username" required class="form-control" placeholder="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password : </label>
                <input type="password" name="password" required class="form-control" placeholder="Password">
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>